<div class="pagina">
    <p class="titulo" style="font-size: 30px;" >lista</p>
    <div class="titulo">
        <input type="text"  [(ngModel)]="item">
        <button class="butomComf" (click)="addItemList()">Comfirmar</button>
    </div>
    <!-- itens da sua lista -->
    <div class="listaompleta">
        <div class="listasgeral">
            <div *ngFor="let todo of list">
                <!-- esta puchando apenas os itens que tem a relacao "falce" -->
                <div *ngIf="!todo.relacao">
                    <div class="boxEItem">
                        <input type="checkbox" [(ngModel)]="todo.relacao" (click)="todoRelacao(todo)">
                        <p>{{todo.item}}</p>
                        <button class="butX" (click)="deletar(todo)">X</button>
                    </div>
                </div> 
            </div>
        </div>
        <div class="listasgeral2">
            <div *ngFor="let todo of list">
                <!-- pucha todos os item que esta com a relacao "true" -->
                <div *ngIf="todo.relacao">
                    <div class="boxEItem">
                        <input type="checkbox" [(ngModel)]="todo.relacao" (click)="todoRelacao(todo)">
                        <p>{{todo.item}}</p>
                        <button class="butX" (click)="deletar(todo)">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
